/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
  position: fixed;       
  top: 0;                
  left: 0;              
  width: 100vw;          
  z-index: 1000;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 75px;
  text-decoration: none;

  /* Font Styles */
  color: #f2f2f2;
  font-size: 17px;      
  font-family: "Roboto";
  font-weight: bolder;         
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #dddddd46;
  color: rgb(255, 255, 255);
}

#picture {
  width: 250px;  /* Ensure width is 231px */
  height: 250px; /* Ensure height is 231px */
  display: block;
  margin: auto;
  margin-top: 100px;
  clip-path: circle();
}

/* Center and style the welcome message */
#welcome{

    /* Centers text */
    text-align: center;

    /* Font Styles*/
    color: white;
    font-family: "Roboto";
    font-weight: bolder;
    font-size: 125px;
}

#Selected_projects{
  padding-top: 50px;
  color: white;
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 35px;
  text-align: center;

}

#Projects {

  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
  padding: 30px;

}

.project_div {
  width: 45%;              
  min-width: 300px;        
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  border-radius: 10px;
  box-sizing: border-box;
}

#Project_p{
  color: white;
  font-family: "Roboto";
  font-size: 17.5px;

}


/* About Me section */

#about_me_div{
  margin-top: 100px;
  text-align: center;
  font-family: "Roboto";
  font-size: 200%;
  color: rgb(255, 255, 255);
  padding-right: 250px;
  padding-left: 250px;
}

#about_me_h1{
  font-size: 250%;
}

.about_me_p{
  text-align: left;
  font-size: 80%;
}

#linked_in{
  color: white;
}

#linked_in:hover{
  color: rgb(129, 129, 167);
}

#linked_in_img{
  width: 25px;
  height: auto; /* keeps aspect ratio */
  
}